#convertbut {
  display: flex;
  position: relative;width:auto;
  margin-top: 5px;margin-left: 105px;  }
#aa{
  position:relative; 
  max-width: 453.5px;
  margin-top: 10px;
  background-color: rgb(230, 230, 230);
  display: inline-block;
  border: 2px solid darkslategrey;
  width: 453.5px; padding: 10px;
}
#copybut{
  display: flex;
  position:relative;
  margin-left: 275px;
  margin-top:-22px ;
  width:auto;
}
#myInput 
{
  background-color: rgb(230, 230, 230);width: 470px;height: 300px;margin-left: 1.1785px;
}
body{font-family: Helvetica,'Microsoft YaHei',simsun,serif;color: #454545;line-height:1.5em; background-color: #1b1b1b;}